.button_cmp {
    background-color: blue;
}
.text_cmp {
    background-color: yellow;
}
h1 {
    font-weight: bold;
    padding: 20px;
}
p {
    font-style: italic;
    font-weight: bold;
}
table {
    border-style: double;
}
th, td {
    background-color: red;
}